.container {
    background-color: rgb(255, 221, 221);

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .delete-button {
            color: rgb(148, 13, 13);
        }
    }
}